<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <header>
   <a href="/">HOME</a>
  <a href="/users/login">login</a>
  <a href="/users/register">register</a>
  
 </header>

  <main>
   <form action="/movie/add" method="POST" enctype="multipart/form-data">
     <input type="text" name="title" placeholder="title">
     <textarea name="storyline" id="" cols="30" rows="10"></textarea>
     <input type="file" name="imgSrc">
     <input type="submit" value="submit">
  </form>
</main>

<footer>
  
  <%  if(userDetail){ %>
    <%= userDetail.name %>
    <% }else{ %>
     <p>logout user</p>
 <% } %>

</footer>
  
</body>
</html>