/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start code */

/* general classes */
*,
* ::after,
*::before{
  box-sizing: border-box;
}
 .flex{
   display: flex;

 }

body{
  font-size: 0.875rem;
  color: rgb(51, 62, 72);
  font-family: "Helvetica Neue", Roboto, "Droid Sans", sans-serif ;
  font-weight: 300;
  line-height: 1;
}


/* header */
.header_container{
    height: 60px;
    width: 100%;
    background-color: rgb(40, 113, 177);;
}
.header{
   width: 1277px;
   margin: 0 auto;
   height: 60px;
   padding: 0px 80px 0px 80px;
   /* background-color: yellow; */
}

.logo{
  display: flex;
  align-items: center;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: aliceblue;
  /* height: 110px; */
  width: 60px;
  margin-right: 24px;
}

.search-box-container{  
  display: flex;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 60px;
}

.search-box{
  width: 100%;
  height: 40px;
  padding: 0px 16px 0px 16px;
  display: flex;
  align-items: center;
  vertical-align: baseline;
  background-color: rgb(22, 75, 122);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.search-input{
  line-height: 30px;
  color: white;
  border: none;
  outline: none;
  background: transparent;
  width: 290px;
  height: 30px;
  padding: 1px 0px 2px 0px;
  font-size: 14px;
  padding-left: 10px ;
}
input::placeholder{
  color: white;
  /* padding-left: 14px; */
  text-transform: capitalize;
  font-weight: 300;
}
svg{
  height: 18px;
  width: 18px;
  color: white;
}
path {
  stroke: white;
}
 .nav_container{
   display: flex;
   align-items: center;
   width: 450.35px;
   margin-left: 356px ;
   justify-content: space-between;
 }

.nav_link{
  padding: 6px 0px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  outline: none;
  font-size: 15px;
  border: none;
  text-decoration: none;
}
.underline{
  border-bottom: 2px solid white;
}

/* main section */

.main_container{
  width: 1111px;
  margin: 0 auto;
  padding-top: 50px ;
  /* display: flex;
  flex-wrap: wrap; */
}
.movie_container{
  width: 213px;
  height: 389.29;
  padding-bottom: 25px;
 
}

.movie_link{
  text-decoration: none;
  cursor: pointer;
  margin-right: 8px;
}
.section_heading{
  text-overflow: ellipsis;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: 24px;
}
.movie_poster{
  /* position: absolute; */
  height: 314px;
  width: 211px; 
}

.movie_name{
  margin-top: 12px;
  font-size: 16px;
  font-weight: 300;
  color: black;
  text-align: center;
  
}
.col-1-5{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-around; */

}


  /* footer */
  footer{
    padding: 45px 0px;
    text-align: center;
  }
  
  .footer_link{
    font-size: 12px;
    padding: 16px 20px;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
  }
  .copyright{
    font-size: 12px;
    padding-top: 10px;
    color: black;
  }
